* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  body {
    background-image: url(Images/background1.jpg);
    min-height: 100vh;
  }
}

.swiper {
  width: 40vh;
  height: 50vh;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .swiper {
    width: 200px;
    height: 260px;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide .japan {
  text-align: center;
  /* font-family: "Sawarabi Mincho"; */
  /* font-weight: bold; */
  position: absolute;
  top: 10vh;
  color: #fff;
  display: flex;
}

.lessthree {
  font-size: 12vh;
}

.lessfour {
  font-size: 12vh;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .swiper-slide .japan {
    top: 5vh;
  }
  .lessthree {
    font-size: 380%;
  }
  .lessfour {
    font-size: 300%;
  }
}


.mySwiper .open_button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  padding: 5px 15px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
}
@media only screen and (min-width: 1px) and (max-width: 700px) {
  .mySwiper .open_button {
    top: 85%;
    font-size: 30px;
  }
}

.mySwiper .box {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 40%;
  background-color: #fff;
  box-shadow: 0px 2px 30px -20px rgb(0 0 0);
  opacity: 0;
  pointer-events: none;
  border-radius: 15px;
  transition: 0.2s;
}
@media only screen and (min-width: 1px) and (max-width: 700px) {
  .mySwiper .box {
    top: 75%;
    width: 110%;
    height: 50%;
  }
}

.mySwiper .box_active {
  opacity: 1;
  pointer-events: fill;
  z-index: 20;
}

.mySwiper .box .heading {
  font-size: 35px;
  text-align: left;
  padding: 6px;
  margin-bottom: 10px;
  color: #fff;
}

.mySwiper .box .message_box {
  margin: 20px;
}

.mySwiper .box .message_box .message {
  font-size: 30px;
  margin: 0px;
  text-align: center;
  font-family: "Sawarabi Mincho";
}
@media only screen and (min-width: 1px) and (max-width: 700px) {
  .mySwiper .box .message_box .message
  {
    font-size: 25px;
  }
}

.mySwiper .box .message_box .mean {
  font-size: 30px;
  margin: 0px;
  text-align: center;
  font-family: "Sawarabi Mincho";
}
@media only screen and (min-width: 1px) and (max-width: 700px) {
  .mySwiper .box .message_box .mean
  {
    font-size: 20px;
  }
}

.mySwiper .box .button_box {
  width: 100%;
  text-align: right;
}
.mySwiper .box .button_box .close_button {
  font-size: 25px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .mySwiper .box .button_box .close_button {
    padding: 1px 10px;
  }
}

.slide
{
  background-color: rgb(206, 17, 17);
}

.slide1
{
  background-color: rgb(0, 140, 255);
}

.slide2
{
  background-color: rgb(10, 184, 111);
}

.slide3
{
  background-color: rgb(211, 122, 7);
}

.slide4
{
  background-color: rgb(118, 163, 12);
}

.slide5
{
  background-color: rgb(180, 10, 47);
}

.slide6
{
  background-color: rgb(35, 99, 19);
}

.slide7
{
  background-color: rgb(0, 68, 255);
}

.slide8
{
  background-color: rgb(218, 12, 218);
}

.slide9
{
  background-color: rgb(54, 94, 77);
}

.homeBtn
{
  position: absolute;
  left: 1vh;
  top: 1vh;
  width: 11vh;
  height: 5vh;
  background: #CC5500;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
  /* text-decoration: none; */
}

.title{
  position: absolute;
  top: 1%;
  left: 45%;
  font-size: 5vh;
  color: rgb(252, 23, 15);
  font-weight: bold;
  font-family: "Sawarabi Mincho";
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .title{
    /* position: absolute; */
    top: 1%;
    left: 40%;
    font-size: 5vh;
  }
}

.swiper-slide .top_gif1 {
  top: 14vh;
}

.size_gif1 {
  width: 12vh;
}

.border_topleft_bottomleft {
  border-radius: 20px 0 0 20px; /* top left, top right, bottom right, bottom left */
}

.border_topright_bottomright {
  border-radius: 0 20px 20px 0; /* top left, top right, bottom right, bottom left */
}

.border_all {
  border-radius: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}