@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #00bcd4, #09d324);
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.container .card 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 1s;
}

/* .container .card:hover
{
    height: 400px;
} */

.container .card .imgBx
{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #ee1717;
    border-radius: 12px;
    transition: 0.5s;
}

.container .card:hover .imgBx
{
    top: -100px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}