* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(Images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  body {
    background-image: url(Images/background1.jpg);
    min-height: 100vh;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px 60px;
  padding: 100px 50px;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container {
    gap: 55px 60px;
  }
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 220px;
  border-radius: 20px;
  transition: 1s;
  background: #00bcd4;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card {
    width: 250px;
    height: 170px;
  }
}

.container .card .imgBx {
  position: absolute;
  top: 0;
  width: 300px;
  height: 220px;
  border-radius: 20px;
  transition: 0.5s;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .imgBx {
    width: 250px;
    height: 170px;
  }
}

.container .card1 .imgBx {
  top: -48%;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  scale: 70%;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
}

.container .card .content .romaji {
  position: absolute;
  top: 62%;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .romaji {
    font-size: 1em;
    top: 68%;
  }
}

.container .card .content .romaji8 {
  position: absolute;
  top: 62%;
  left: 0;
  width: 100%;
  font-size: 1.2em;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .romaji8 {
    font-size: 1em;
    top: 68%;
  }
}

.container .card .content .japan {
  position: absolute;
  font-size: 3em;
  font-family: "Sawarabi Mincho";
  top: 35%;
  left: 0;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .japan {
    font-size: 2.4em;
    top: 38%;
  }
}

.container .card .content .japan8 {
  position: absolute;
  font-size: 2em;
  font-family: "Sawarabi Mincho";
  top: 40%;
  left: 0;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .japan8 {
    font-size: 1.8em;
    top: 43%;
  }
}

.container .card .content .japan9 {
  position: absolute;
  font-size: 1.5em;
  font-family: "Sawarabi Mincho";
  top: 40%;
  left: 0;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .japan9 {
    font-size: 1.2em;
    top: 48%;
  }
}

.container .card .content .mean {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .mean {
    font-size: 1em;
    top: 83%;
  }
}

.container .card .content .mean9 {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  font-size: 1em;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container .card .content .mean9 {
    font-size: 0.7em;
    top: 86%;
  }
}

.homeBtn {
  position: fixed;
    width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 1vh;
  z-index: 2;
  background: #cc5500;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.title {
  position: absolute;
  top: 1%;
  left: 45%;
  font-size: 5vh;
  color: #FFA500;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .title {
    top: 1%;
    left: 30%;
    font-size: 5vh;
  }
}
