* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(Images/home_background.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* animation: change 500s infinite ease-in-out; */
}


/* @media only screen and (min-width: 1px) and (max-width: 700px) {
  body #Background{
    background-image: url(Images/home_background_phone.jpg);
    min-height: 90vh;
  }
} */

.menu-bar {
  background: none;
  text-align: center;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
}

.menu-bar ul li {
  margin: 2vh 0vh;
  padding: 1vh;
  font-size: 3vh;
  width: 20vh;
  height: auto;
  font-weight: bold;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .menu-bar ul li {
    font-size: 1.3vh;
    margin: 2vh 1vh;
    padding: 0.5vh;
  }
}

.menu-bar ul li a {
  text-decoration: none;
  color: white;
}

.menu-bar ul li:hover {
  background: #89cff0;
  border-radius: 5px;
}

.sub-menu-images {
  display: none;
  height: auto;
  width: 20vh;
}

.sub-menu-images ul li {
  font-size: 2vh;
  /* height: 5vh; */
  /* padding-left: 3vh; */
}


@media only screen and (min-width: 1px) and (max-width: 700px) {
  .sub-menu-images ul li {
    font-size: 1.3vh;
  }
}


.menu-bar ul li:hover .sub-menu-images {
  display: block;
  position: absolute;
  background: #0096ff;
  margin-top: 1vh;
  margin-left: -1vh;
  border-radius: 5px;
}

.menu-bar ul li:hover .sub-menu-images ul {
  display: block;
  margin: 0vh;
}

.menu-bar ul li:hover .sub-menu-images ul li {
  border-top: 1px dotted #fff;
  background: transparent;
  width: 20vh;
  border-radius: 0;
  height: 4vh;
  margin: 0 0 1vh 0;
  /* color: darkblue; */
}

/* .menu-bar ul li:hover .learn-image-1 ul li {
  width: 17vh;
}

.menu-bar ul li:hover .learn-image-2 ul li {
  width: 15.5vh;
} */

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .menu-bar ul li:hover .sub-menu-images ul li {
    width: 10vh;
  }
}

.menu-bar ul li:hover .sub-menu-images ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-images ul li a:hover {
  color: #00ff40;
}

.sub-menu-images2 {
  display: none;
}

.hover-me:hover .sub-menu-images2 {
  position: absolute;
  display: block;
  background: #1ABC9C;
  margin-top: -4.5vh;
  margin-left: 19vh;
  border-radius: 1vh;
  /* width: 20vh; */
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .hover-me:hover .sub-menu-images2 {
    margin-left: -12.7vh;
    margin-top: -3.5vh;
  }
}

.sub-menu-images2 ul {
  list-style: none;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sub-menu-images2 ul::-webkit-scrollbar {
  display: none;
}

.learn-image ul {
  list-style: none;
  height: 71vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .learn-image ul {
    height: 58vh;
  }
}

.learn-image ul::-webkit-scrollbar {
  display: none;
}

.learn-image1 ul {
  list-style: none;
  height: 10vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.learn-image1 ul::-webkit-scrollbar {
  display: none;
}

.learn-image2 ul {
  list-style: none;
  height: 25vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.learn-image2 ul::-webkit-scrollbar {
  display: none;
}

.goi ul {
  list-style: none;
  height: 77vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .goi ul {
    height: 65vh;
  }
}

.goi ul::-webkit-scrollbar {
  display: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}