html,
body {
  position: relative;
  height: 100%;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  /* position: relative; */
  /* min-height: 100vh; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.swiper {
  /* width: 100%; */
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.swiper-slide {
  /* flex-wrap: wrap; */
  /* display: flex; */
  justify-content: center;
  align-items: center;

  /* width: 1500px; */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  /* box-sizing: border-box; */
  gap: 5px 70px;
  padding: 50px 150px;
}


/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.homeButton{
  position: absolute;
  left: 1vh;
  top: 1vh;
  width: 11vh;
  height: 5vh;
}

.homeBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 1vh;
  z-index: 2;
  background: #cc5500;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.hideBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 6vh;
  z-index: 2;
  background: #009A00;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.swapBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 11vh;
  z-index: 2;
  background: #7F00FF;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.titleLesson{
  position: absolute;
  top: 60px;
  right: 50%;
  transform: translateX(50%) translateY(0px);
  /* width: 100%; */
  /* height: 5vh; */
  font-size: 5vh;
  font-weight: bold;
  color: #ff0066;
  z-index: 2;
}


.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 90px;
  height: 80px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.card1 .card-inner {
  transform: rotateY(180deg);
}

.imgBx, .content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgBx.front {
  background: #00bcd4;
  color: white;
  z-index: 2;
}

.content.back {
  background: #0db624;
  transform: rotateY(180deg);
  z-index: 1;
}

.mean {
  position: relative;
  top: 0%;
  /* left: 0; */
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}

.romaji {
  position: relative;
  top: 0%;
  left: 0;
  width: 100%;
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin: 0;
}

.japan {
  position: relative;
  font-size: 4em;
  font-family: 'Klee One', sans-serif;
  top: -15%;
  height: 100%;
  margin: 0;
  color: white;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
}