html,
body {
  position: relative;
  /* height: 100%; */
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, #00bcd4, #09d324);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
  width: 100%;
}

.swiper {
  width: 280px;
  height: 380px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.swiper-slide .japan {
  text-align: center;
  font-family: "Sawarabi Mincho";
  font-weight: bold;
  color: #fff;
}
.lessfour {
  font-size: 380%;
}

@media screen and (max-width: 768px) {
  body {
    align-items: center;
    width: 90%;
  }
}
.mySwiper .open_button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
  padding: 5px 15px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

.mySwiper .box {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 110%;
  background-color: #fff;
  box-shadow: 0px 2px 30px -20px rgb(0 0 0);
  opacity: 0;
  pointer-events: none;
  border-radius: 15px;
  transition: 0.2s;
}

.mySwiper .box_active {
  opacity: 1;
  pointer-events: fill;
  z-index: 1;
}

.mySwiper .box .heading {
  font-size: 35px;
  text-align: left;
  padding: 6px;
  margin-bottom: 10px;
  color: #fff;
}

.mySwiper .box .message_box {
  margin: 20px;
}

.mySwiper .box .message_box .message {
  font-size: 30px;
  margin: 10px 0px;
  text-align: center;
}
.mySwiper .box .button_box {
  width: 100%;
  text-align: right;
}
.mySwiper .box .button_box .close_button {
  font-size: 25px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}


  
.mySwiper .open_button.openBtn
{
  background-color: rgb(206, 17, 17);
}

.mySwiper .open_button.openBtn1
{
  background-color: rgb(0, 140, 255);
}