html,
body {
  position: relative;
  height: 100%;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  /* position: relative; */
  /* min-height: 100vh; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.swiper {
  height: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.swiper-slide::-webkit-scrollbar {
  display: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  gap: 50px 30px;
  padding: 60px 50px 0 120px;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .card-container {
    padding: 60px 10px 30px 10px;
    gap: 15px 30px;
  }
}

.fullscreenmode {
  padding: 120px 50px 50px 80px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.homeButton{
  position: fixed;
}

.homeBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 1vh;
  z-index: 2;
  background: #e62222;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.hideBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 6vh;
  z-index: 2;
  background: #4CC713;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.swapBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 11vh;
  z-index: 2;
  background: rgb(0,140,255);
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.openBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 16vh;
  z-index: 2;
  background: #ff135a;
  outline: #ff145b80;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 140px;
  height: 120px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .card-inner {
    width: 90px;
    height: 80px;
  }
}

.card.card1 .card-inner {
  transform: rotateY(180deg);
}

.imgBx, .content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
}

.imgBx, .front {
  background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: white;
  z-index: 2;
  border-radius: .1rem 1.1rem;
}

.content, .back {
  background: #fc4a1a;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: rotateY(180deg);
  z-index: 1;
  border-radius: 1rem .1rem;
}

.mean {
  position: relative;
  top: 0%;
  /* left: 0; */
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}

.romaji {
  position: relative;
  top: 0%;
  left: 0;
  width: 100%;
  font-size: 2em;
  color: white;
  text-align: center;
  margin: 0;
}

.romaji1 {
  font-size: 1.5em;
}

.japan {
  position: relative;
  font-size: 6em;
  font-family: 'Klee One', sans-serif;
  top: -15%;
  height: 100%;
  margin: 0;
  color: white;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.japan1 {
  font-size: 5.5em;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .homeBtn {
    width: 8vh;
    left: 1vh;
    top: 1vh;
  }
  .hideBtn {
    width: 8vh;
    left: 9vh;
    top: 1vh;
  }
  .swapBtn {
    width: 8vh;
    left: 17vh;
    top: 1vh;
  }
  .openBtn{
    width: 8vh;
    left: 25vh;
    top: 1vh;
  }
  .japan {
    font-size: 4em;
  }
  .mean,.romaji {
    font-size: 1.2em;
  }
}