* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

/* @media only screen and (min-width: 1px) and (max-width: 700px) {
    body {
      background-image: url(Images/background1.jpg);
      min-height: 100vh;
    }
  } */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 75px 60px;
  padding: 100px 50px;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .container {
    gap: 20px 60px;
  }
}

.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 300px;
  height: 220px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.card1 .card-inner {
  transform: rotateY(180deg);
}

.imgBx, .content {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.imgBx.front {
  background: #00bcd4;
  color: white;
  z-index: 2;
}

.content.back {
  background: #0db624;
  transform: rotateY(180deg);
  z-index: 1;
}

.subjapan {
  position: absolute;
  top: 35%;
  font-family: 'Sawarabi Mincho', sans-serif;
  left: 0;
  width: 100%;
  font-size: 2em;
  /* font-weight: bold; */
  color: white;
  text-align: center;
}


.subjapan1{
  top: 30%;
}

.mean {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.mean1 {
  top: 65%;
}

.japan {
  position: absolute;
  font-size: 3em;
  font-family: 'Sawarabi Mincho', sans-serif;
  top: 35%;
  left: 0;
  width: 100%;
  /* font-weight: bold; */
  color: white;
  text-align: center;
}

.japan1 {
  top: 35%;
  font-size: 2.2em;
}

.japan2 {
  top: 40%;
  font-size: 1.8em;
}

.homeBtn {
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 1vh;
  z-index: 2;
  background: #cc5500;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.title {
  position: absolute;
  top: 1%;
  left: 45%;
  font-size: 5vh;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

@media only screen and (min-width: 1px) and (max-width: 700px) {
  .title {
    top: 0.5%;
    left: 30%;
    font-size: 5vh;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* .randomButton{
  position: absolute;
  right: 1vh;
  top: 1vh;
  width: 11vh;
  height: 5vh;
} */

.hideBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 6vh;
  z-index: 2;
  background: #009A00;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.swapBtn{
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 11vh;
  z-index: 2;
  background: #7F00FF;
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}