* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: greenyellow;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

.container .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .btn .hiragana1 {
  width: 90%;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px 0 140px;
  gap: 5px 30px;
}

.container .btn .hiragana1 .card button{
  position: relative;
  border: 3px #00bcd4;
  padding: 10px 28px;
  cursor: pointer;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 120px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container .btn .hiragana1 .card_empty{
  position: relative;
  border: 3px transparent;
  padding: 10px 28px;
  cursor: pointer;
  background: transparent;
  width: 120px;
  height: 120px;
  padding: 0;
}

.japan {
  position: absolute;
  top: -5%;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Klee One', sans-serif;
  color: white;
}

.romaji {
  position: absolute;
  top: 75%;
  font-size: 15px;
  /* font-weight: bold; */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.homeBtn {
  position: fixed;
  width: 11vh;
  height: 5vh;
  left: 1vh;
  top: 1vh;
  z-index: 2;
  background: #e52d27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: none;
  border-radius: 10px;
  font-size: 2vh;
  font-weight: bold;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.image-container{
  display: flex;
  gap: 0;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 17, 17, 0.8);
  display: none;
}

.border_left{
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 20px 0 0 20px;
}

.border_right{
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 20px 20px 0;
}

.border_all{
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 20px;
}

@media screen and (orientation: portrait) and (min-width: 1000px) and (max-width: 1200px) {
  .homeBtn {
    width: 8vh;
    height: 4vh;
  }
}